MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/alkos
MONGODB_DB=alkos
MASTER_ADMIN_EMAIL=alkos@geita.tz
CRON_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
NEXT_PUBLIC_APP_NAME=ALKOS Apartments
